body{
	margin: 0;
}
.menu{
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	opacity: 0.8; 
}
.menu a{
	text-decoration: none;
	color: #000;
	display: inline-block;
	width: 100px;
	padding: 15px;
	border-radius: 15px;
	font-weight: bold;
}
.menu a:hover{
	background-color: #ccc; 
}
.header{
	text-align: center;
	color: #fff;
	width: 100%;
	max-width: 2000px;
	min-width: 320px;
	padding: 200px 0;
	background-image: url(images/polygons.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 58px;
	background-attachment: fixed;
}
.header a{
	text-decoration: none;
	color: #000;
	background-color: #fff;
	padding: 10px 25px;
	border-radius: 10px;
}
.header h1{
	margin: 80px 0 45px 0;
}
.header p{
	margin: 30px 0 45px 0;
}
#about-company{
	max-width: 1200px;
	min-width: 320px;
	padding: 40px 5px;
	margin: 0 auto;
}
#about-company img{
	width: 400px;
	float: right;
	margin: 30px;
	margin-top: 0;
}
#about-company h2{
	text-align: center;
}
.text{
	text-align: justify;
	margin: 5px;
}
.member1, .member2, .member3, .member4{
	display: inline-block;
	width: 20%;
	min-width: 300px;
	/*border: 2px solid gray;*/
	box-shadow: 0 2px 5px gray;
	text-align: left;
	padding: 15px;
	margin: 10px 2px;
	vertical-align: top;
}
.member1 img, .member2 img, .member3 img, .member4 img{
	width: 100%;
}
#team{
	text-align: center;
}
#team h3{
	font-weight: 400px;
	font-size: 24px;
}
#team .position{
	opacity: 0.6;
}
#team a{
	display: inline-block;
	text-decoration: none;
	padding: 14px 0;
	width: 100%;
	background-color: #4682B4;
	color: white;
	border-radius: 10px;
	text-align: center;
}
#prices{
	background-color: dimgray;
	text-align: center;
	padding: 15px 10px;
	min-width: 320px;
}
#prices h2{
	color: #fff;
}
#prices p{
	color: #fff;
}
#prices li{
	border: 1px solid darkgray;
}
.tarif1, .tarif2, .tarif3{
	display: inline-block;
	vertical-align: middle;
	min-width: 250px;
	width: 30%;
	padding: 15px 0;
	margin: 0;
}
.tarif1 .li,.tarif2 .li, .tarif3 .li{
	min-width: 250px;
	width: 100%;
	padding: 15px 0;
	background-color: #fff;
	list-style-type: none;
}
.title1, .title3{
	padding: 20px 0;
	background-color: #000;
	color: #fff;
	list-style-type: none; 
	font-size: 24px; 
}
.title2{
	padding: 40px 0;
	background-color: #4682B4;
	color: #fff;
	list-style-type: none;
	font-size: 24px;
}
#prices a{
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	background-color: #000;
}
.buy{
	padding: 20px 0;
	background-color: #DCDCDC;
	list-style-type: none; 
}
#prices .li .period{
	opacity: 0.5;
	color: #000;
}
.tarif1 li:last-child, .tarif2 li:last-child, .tarif3 li:last-child{
	background-color: #f1f1f1;
	padding: 24px 0;
}
#prices a:hover{
	background-color: #fff;
	color: #000;
}
.important{
	font-weight: bold;
}
.price{
	font-weight: bold;
	color: #000;
	font-size: 24px; 
}
#contact{
	background-color: #f1f1f1;
	text-align: center;
	padding: 40px 10px;
	min-width: 320px;
}
.contact-address{
	background-image: url(images/address.png);
}
.contact-mail{
	background-image: url(images/mail.png);
}
.contact-phone{
	background-image: url(images/phone.png);
}
.contact-info{
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 30px;
	background-position: left center;
	background-size: 18px 18px; 
	margin-left: 5%;
}
#contact input{
	padding: 8px;
	width: 90%;
	border: 1px solid gray;
	border-radius: 3px;
}
#contact button{
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
#contact button:hover{
	background-color: #fff;
	color: #000; 
}
.footer{
	background-color: #000;
	color: #fff;
	min-width: 320px;
	padding-right: 20px;
}
.footer p{
	margin: 0;
}